.biggest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.list-1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 900px;
    margin-left: 50px;
    gap: 100px;
    margin-top: 200px;
}

.list-2 {
    margin-top: 200px;
    border: 3px black solid;
    border-bottom-left-radius: 295px;
    box-shadow: 5px -10px;
    width: 760px;
    height: 760px;
    background-image: url("batuka.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hii {
    font-size: 87px;
    line-height: 90px;
}

.text-my {
    font-size: 29px;
    line-height: 45px;
    color: #6B6868;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 70px;

}

.button-blck {
    background-color: white;
    font-size: 32px;
    border: 1px solid black;
    width: 225px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-white {
    background-color: black;
    font-size: 32px;
    border: 1px solid black;
    color: white;
    width: 378px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.batuka-img {
    width: 560px;
    height: 560px;
    z-index: 0;
}

.skill-tab {
    background-color: white;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.text-skill {
    color: #F37A7A;
    font-size: 32.5581px;
    line-height: 48px;
    font-style: normal;
    margin-left: 600px;
}

.work {
    font-size: 28.4884px;
    line-height: 42px;
    color: #818080;
    margin-left: 100px;
    margin-top: 50px;
}

.odo {
    margin-top: 40px;
    margin-left: 100px;
}

.man-logo {
    margin-top: -150px;
    margin-left: -400px;

}

.zaluu {
    width: 415px;
    height: 350px;
}


.project-tab {
    width: 100vw;
    height: 500px;
    display: flex;
    margin-top: 300px;
    flex-direction: column;

}

.project-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#apple {
    margin-top: 50px;
    color: #F37A7A;
    font-size: 50px;
    line-height: 45px;
    font-family: 'Be Vietnam';
}

#grey {
    color: #818080;
    font-family: 'Be Vietnam';
    font-size: 27px;
    margin-top: 50px;
}

/* 

.project-2 {
    margin-top: 50px;
    width: 2000px;
    height: 2000px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.visitsite-1 {

    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, aqua, darkorchid) 1;
    width: 302.44px;
    height: 430px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.visitsite-2 {

    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, aqua, darkorchid) 1;
    width: 302.44px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.visitsite-3 {

    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, aqua, darkorchid) 1;
    width: 302.44px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.xxonuud {
    width: 250.86px;
    height: 212.17px;
}
.nasaicon{
    display: flex;
    justify-content: row;
} */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.child {
    margin-top: 70px;
    width: 302px;
    height: 400px;
    /* background-color: #F37A7A; */
    border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, #0D54BE 4.37%, #20ECD3 95.31%) 1;
    gap: 100px;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 23.1457px;
    line-height: 34px;
    color: #818080
}

.nasa {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.visitsite {
    color: #0571AD;
    font-size: 23px;
}

.contact {
    margin-top: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.contact-head {
    color: #4A6CFA;
    font-size: 45px;
    font-weight: bold;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.xxa {
    border: 3px solid #4A6CFA;
    border-radius: 60px;
    width: 210px;
    height: 43.75px;
}

.xxe {
    border: 3px solid #4A6CFA;
    margin-top: 30px;
    border-radius: 30px;
    width: 460px;
    height: 250px;
}

.tovch {
    width: 289.09px;
    height: 43.75px;
    background-color: #4A6CFA;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 16px;
}

.map {
    height: 500px;
}

.xol{
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}
.footer-text{
    color: #4A6CFA;
    font-size: 48px;
}
.xol-tovch{
    Width:105px;
    Height:40.93px;
    background-color:#4A6CFA ;
    border: none;
    border-radius: 17px;
    color:white;
    margin-top: 30px;

}
.footer-last{
    margin-top: 30px;
    color: #4A6CFA;
    font-size: 10PX;
}