
.menu{
    width: 2050px;
    height: 595.88px;
    background-color: #59007B;
}
.logo{
    width: 180px;
    height: 100px;
    
}
.text{
    display: flex;
    flex-direction: row  ;
    gap: 50px;
}
.top{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:30px;
    display: flex;
   
}
.menu-home{
    background-color: white;
    width: 124.62px;
    height: 25.99px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:7px;
}
.menu-text{
    color: white;
}
.long-text{
    font-size: 42.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 150px;
}
.button{
    background-color: #EB7D4B;
    width: 304.27px;
    height: 73.68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 7px;
}
.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

body{
    margin: 0;
    background-color: #BDD1DF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.members{
    display: flex;
    justify-content: center;
}
.teachers{
    display: flex;
    justify-content: center;
}
.profile1{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    gap: 100px;
}
.profile2{
    margin-top: 100px;
    justify-content: center;
    display: flex;
    gap: 100px;
}
.pe1{
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-image: url(bata.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.pe2{
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-image: url(IMG_5285.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.pe3{
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-image: url(batochir.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.pe{
    border-radius: 50%;
    border: 2px solid #000000;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-image: url(devo.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.names1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 180px;
    
    
}

.names2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    
    
}
.job1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 160px;
    color: #30BAE7;
}
.job2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 210px;
    color: #30BAE7;
}
.tavn{
    margin-left: 40px;
}
.txt0{
    display: flex;
    gap: 100px;
    margin-left: 630px;
    margin-top: 30px;
}
.border{    
    height: 100px;
    width: 200px;
    background-color: #BDD1DF;
}
.niitleg{
    width: 20px;
    height: 20px;
}
.etseg{
    display: flex;
    margin-left: 670px;
}
.link{
    margin-left: 20px;
    text-decoration: none;
    gap: 30px;
}
.link1{
    margin-left: 240px;
}
.link2{
    margin-left: 230px;
}







.h{
    display: flex;
    justify-content: center;
    color: #393939;
    margin-top: 100px;
}
.p {
    display: flex;
    justify-content: center;
    color: #393939;
    margin-top: 20px;
}
.con {
    width: 100vw;
    height: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFDD99;
}
.b {
    width: 86.81px;
    height: 37.81px;
    border-radius: 5px;
    background-color: #ebcb8d;
    color: #393939;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.butt {
    display: flex;
    margin-top: 20px;
    gap: 5px;
    align-items: center;
}
.b:hover {
    background-color: #FFFFFF;
}
.zuraas {
    position: relative;
    width: 89.91px;
    height: 3.98px;
    background: #E5C37F;
}
.img3 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}
.img1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}
.img {
    display:flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}
.loa {
    background-color: #17C2A4;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 302.79px;
    height: 69.64px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.section{
    background-color: rgb(229, 33, 229);
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 100px;
  }
  .topic {
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    top:500px
  }
  .up {
    display: flex;
    gap: 50px;
  }
  .down {
    display: flex;
    gap:50px;
  }
  .line {
    width: 100px;
    height: 1px;
    background-color: rgb(102, 74, 74);
  }
  .comment{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 15px;
  }
  p:nth-child(1){
    color: white;
    font-weight: 400;
    font-style: italic;
    line-height: 21px;
  }
  p:nth-child(3){
    color: yellow;
  }
  
  p:nth-child(2){
    color:white;
    font-size: 20px;
    font-weight: bolder;
  }
  .scrn{
    margin: 125px 100px;
    gap:50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
  }
  .image-dir{
    display: flex;
  }
  .text-dir{
    display: flex;
    flex-direction: column;
  }
  .image{
    display: flex;
    gap: 50px;
  }
  img{
    border-radius: 50%;
    height: 200px;
  }
  