
.menu{
    width: 2050px;
    height: 595.88px;
    background-color: #59007B;
}
.logo{
    width: 180px;
    height: 100px;
    
}
.text{
    display: flex;
    flex-direction: row  ;
    gap: 50px;
}
.top{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap:30px;
    display: flex;
   
}
.menu-home{
    background-color: white;
    width: 124.62px;
    height: 25.99px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:7px;
}
.menu-text{
    color: white;
}
.long-text{
    font-size: 42.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 150px;
}
.button{
    background-color: #EB7D4B;
    width: 304.27px;
    height: 73.68px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 7px;
}
.button1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color:#E7F1F8;
}
.head{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 300px;
    background-color: #E7F1F8;
}
.txt1{
    justify-content: center;
    width: 676.04px;
    height: 99.98px;
    margin-left: 820px;
    margin-top: 60px;
    font-size: 40.635px;
    color: #3C4761; 
}
.zuras{
    width: 90.35px;
    height: 4.13px;
    background: #BDD1DF;
    opacity: 0.75;
    margin-left: 1010px;
    margin-bottom: 20px;
}
.txt2{
    margin-left: 750px;
    padding-bottom: 120px ;
    justify-content: center;
    align-items: center;
    width: 641.77px;
    height: 55.99px;
    font-size: 18.2857px;
    color: #3C4761; 
}
.uwuu{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.uwuu2{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.profile1{
    display: flex;
    width: 40vw;
    height: 480px;
    justify-content: space-around;
}
.huree{
    display:flex;
    justify-content: center;
    width: 240px;
    height: 480px;
    background-color:gray;
}
.pro1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #E7F1F8;
}
.zurag {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.name{
    margin-top: 20px;
    margin-left: 30px;
    width: 147.46px;
    height: 73.98px;
    font-size: 24px;
    color: #27283D;
}
.rule{
    margin-left: 35px;
    margin-top: -43px;
    width: 151.62px;
    height: 47.99px;
    font-size: 16px;
    color: #30BAE7;
}
.text{
    text-align: center;
    margin-top : -15px;
    margin-left: 30px;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-left: 50px;
    width: 200px;
    height: 46px;
    gap: 15px;
    background-color:#E7F1F8;
}
.fb{
    margin-left: 5px;
    height: 25px;
    width: 25px;
}
.ins{
    height: 30px;
    width: 30px;
    margin-top: -3px;
}
.twi{
    height: 25px;
    width: 25px;
}
.mail{
    height: 25px;
    width: 25px;
}







.h{
    display: flex;
    justify-content: center;
    color: #393939;
    margin-top: 100px;
}
.p {
    display: flex;
    justify-content: center;
    color: #393939;
    margin-top: 20px;
}
.con {
    width: 100vw;
    height: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFDD99;
}
.b {
    width: 86.81px;
    height: 37.81px;
    border-radius: 5px;
    background-color: #ebcb8d;
    color: #393939;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.butt {
    display: flex;
    margin-top: 20px;
    gap: 5px;
    align-items: center;
}
.b:hover {
    background-color: #FFFFFF;
}
.zuraas {
    position: relative;
    width: 89.91px;
    height: 3.98px;
    background: #E5C37F;
}
.img3 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}
.img1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}
.img {
    display:flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 0px;
}
.loa {
    background-color: #17C2A4;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 302.79px;
    height: 69.64px;
    border: 1px solid #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.section{
    background-color: rgb(229, 33, 229);
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding-top: 100px;
  }
  .topic {
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    top:500px
  }
  .up {
    display: flex;
    gap: 50px;
  }
  .down {
    display: flex;
    gap:50px;
  }
  .line {
    width: 100px;
    height: 1px;
    background-color: rgb(102, 74, 74);
  }
  .comment{
      display: flex;
      justify-content: center;
      color: white;
      font-size: 15px;
  }
  p:nth-child(1){
    color: white;
    font-weight: 400;
    font-style: italic;
    line-height: 21px;
  }
  p:nth-child(3){
    color: yellow;
  }
  
  p:nth-child(2){
    color:white;
    font-size: 20px;
    font-weight: bolder;
  }
  .scrn{
    margin: 125px 100px;
    gap:50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
  }
  .image-dir{
    display: flex;
  }
  .text-dir{
    display: flex;
    flex-direction: column;
  }
  .image{
    display: flex;
    gap: 50px;
  }
  img{
    
    height: 200px;
  }

.container{
    display: flex;
    justify-items: flex end;
    width: 100vw;
    height: 60px;
    background-color:rgb(52,75,142) ;
    bottom:0vh;
}
.sug{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    gap: 150px;
}
.Facebook{
    cursor: pointer;
}
.Facebook:hover{
    color: aqua;
}