.h{
    display: flex;
    justify-content: center;
    color: #393939;
}
.p {
    display: flex;
    justify-content: center;
    color: #393939;
    margin-top: 20px;
}
.con {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
body {
    background-color: #FFDD99;
}
.b {
    width: 86.81px;
    height: 37.81px;
    border-radius: 5px;
    background-color: #ebcb8d;
    color: #393939;
}
.butt {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}
.b:hover {
    background-color: #FFFFFF;
}
.zuraas {
    position:static;
    width: 89.91px;
    height: 3.98px;
    background: #E5C37F;
}