body {
    display: flex;
}
.zail{
    display: flex;
    flex-direction: row;
}
.container {
    font-size: 35px;
    margin-left: 200px;
    color: grey;
    display: flex;
    flex-direction: column;
    margin-top: 600px;
}

.lorem {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.me img {
    width: 700px;
    height: 700px;
    margin-top: 200px;
    margin-left: 100px;
    border-radius: 50%;
}

.cube {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 80px;
    top: 300px;
}

.cube1 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 300px;
    top: 390px;
}

.cube2 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 420px;
    top: 180px;
}

.cube3 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 600px;
    top: 300px;
}

.cube4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 700px;
    top: 100px;
}

.cube5 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 850px;
    top: 220px;
}

.contact {
 
    margin-top: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
}

.contact-head {
    color: #4A6CFA;
    display: flex;
    flex-direction: row;
    font-size: 45px;
    font-weight: bold;
}

.inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.xxa {
    border: 3px solid #4A6CFA;
    border-radius: 60px;
    width: 210px;
    height: 43.75px;
}

.xxe {
    border: 3px solid #4A6CFA;
    margin-top: 30px;
    border-radius: 30px;
    width: 460px;
    height: 250px;
}

.tovch {
    width: 289.09px;
    height: 43.75px;
    background-color: #4A6CFA;
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 16px;
}

.map {
    height: 500px;
}

.xol {

    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.footer-text {
    color: #4A6CFA;
    font-size: 48px;
}

.xol-tovch {
    Width: 105px;
    Height: 40.93px;
    background-color: #4A6CFA;
    border: none;
    border-radius: 17px;
    color: white;
    margin-top: 30px;

}

.footer-last {
    margin-top: 30px;
    color: #4A6CFA;
    font-size: 10PX;
}

.xxo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}